.btn-map {
  border-radius: 18px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 0;
  height: 0;
  position: relative;
}
.map-container iframe {
  left: 0;
  top: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  position: absolute;
}
