<div class="jumbotron">
    <div class="container my-5">
      <h1 class="display-4">Добредојдовте во системот за споделување превоз</h1>
      <h1 class="display-4 text-center"><b>Share a Ride</b></h1>
</div>

<div class="container">
    <div class="row">
        <div class="card box-shadow">
            <img class="card-img-top" style="width: 100%; display: block;" src="../../assets/share-a-ride.svg   ">
            <div class="card-body">
              <h2 class="card-text text-center">Изберете што сакате да правите!</h2>

              <div class="text-center my-5">
                <button class="btn btn-primary btn-lg mx-5" routerLink="/find">Пронајди превоз</button>
                <button class="btn btn-dark btn-lg mx-5" routerLink="/offer">Понуди превоз</button>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <div class="row">
        <div class="col">
            <hr class="m-auto w-75">
        </div>
    </div>
</div>


<div class="jumbotron">
    <div class="container my-5">
      <h4 class="text-center">Доколку се чувствувате загрозени додека трае патувањето или пак имате
        некаков проблем, Ве молиме притиснете на копчето за помош, со цел да реагираме веднаш</h4>
    
        <div class="text-center my-4">
            <button class="btn btn-lg mx-5" style="background-color: orange; color: white;"><b>Пријави опасност</b></button>
        </div>
</div>


